.yellow, .gray{
	height: 100px;
	margin: 10px;
	padding: 10px;
	width: 200px;
	/*inline-block pone los cuadros uno al lado del otro*/
	display: inline-block;
}


.yellow{
	background-color: gold;
}

.gray{
	background-color: black;
	color: white;
}